pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
.ds_store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.env
