@import "tailwindcss";
@import "@fontsource-variable/noto-sans";
/* @import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite"; */

@theme {
  --default-font-family: "Noto Sans Variable", "sans-serif";
  --background-colour: #f9fafb !default;
}

body {
  background-color: var(--background-colour);
}
