@import "tailwindcss";
@import "@fontsource-variable/noto-sans";

@theme {
  --default-font-family: "Noto Sans Variable", "sans-serif";

  /* Colours */
  --color-background: #f9fafb;

  --color-primary: #574ae2;
  --color-success: #21d19f;
  --color-info: #46a4e2;
  --color-warning: #f8ef8c;
  --color-danger: #f94f4f;
}

body {
  background-color: var(--color-background);
}
